@font-face {
    font-family: 'dustismo_romanregular';
    src: url('../fonts/dustismoroman_regular_macroman/Dustismo_Roman-webfont.eot');
    src: url('../fonts/dustismoroman_regular_macroman/Dustismo_Roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dustismoroman_regular_macroman/dustismoroman_regular_macromanDustismo_Roman-webfont.woff2') format('woff2'),
         url('../fonts/dustismoroman_regular_macroman/Dustismo_Roman-webfont.woff') format('woff'),
         url('../fonts/dustismoroman_regular_macroman/Dustismo_Roman-webfont.ttf') format('truetype'),
         url('../fonts/dustismoroman_regular_macroman/Dustismo_Roman-webfont.svg#dustismo_romanregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'dustismo_romanbold_italic';
    src: url('../fonts/dustismoroman_bolditalic_macroman/Dustismo_Roman_Italic_Bold-webfont.eot');
    src: url('../fonts/dustismoroman_bolditalic_macroman/Dustismo_Roman_Italic_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dustismoroman_bolditalic_macroman/Dustismo_Roman_Italic_Bold-webfont.woff2') format('woff2'),
         url('../fonts/dustismoroman_bolditalic_macroman/Dustismo_Roman_Italic_Bold-webfont.woff') format('woff'),
         url('../fonts/dustismoroman_bolditalic_macroman/Dustismo_Roman_Italic_Bold-webfont.ttf') format('truetype'),
         url('../fonts/dustismoroman_bolditalic_macroman/Dustismo_Roman_Italic_Bold-webfont.svg#dustismo_romanbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}


html {
    color: white;
    font-family: 'dustismo_romanregular';
    font-size: 3vmin;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 1em;
    backdrop-filter: blur(1vmin);
    animation: anim-scroll 16s linear infinite;
    background: conic-gradient(#FEB3D0 25%, #F2C5D9 0 50%, #F0F2F1 0 75%, #F0DAE6 0) 0 0/20vmin 20vmin;
    overflow: hiddentr;
}

.highlight {
    color: #EBE563;
}

.white {
    background-color: white;
}

.dark {
    background-color: #2E2D31;
}

.darker {
    background-color: #242328;
}

.container {
    height: 100%;
    /* display: flex; */
    /* margin: 2em; */
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
}
.column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* gap: 2.5em; */
    align-content: flex-start;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item {
    background-color: #2E2D31;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.45);
    padding: 1em;
    border-radius: 1.5em;
}

.schedule {
    box-sizing: border-box;
    margin-top: 1em;
    position: relative;
    display: flex;
    width: min(55vw, 50em);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1)
}

.sub-item {
    padding: 0.75em 1.5em;
    position: absolute;
    top: -1em;
    left: -3vw;
    height: 1em;
    width: fit-content;
    line-height: 1em;
    /* font-style: italic; */
}

.event {
    padding-top: 1.5em;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    z-index: 2;
}

.event-image{
    position: absolute;
    height: min(9.5em, 120%);
    width: auto;
    margin: 0.5em;
    bottom: 0;
    right: 0;
    filter: drop-shadow(0 0 3px black);
}

.header {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 2.5em;
    color: black;
    font-weight: 200;
    font-style: italic;
}

#week {
    margin-left: 0.5em
}

.title{
    font-family: 'dustismo_romanbold_italic';
}

.subtitle {
    font-style: italic;
}

.list{
    margin-left: 3vw;
    /* width: 75%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 2.2em; */
    justify-content: space-evenly;
    /* align-items: center; */
}

.twitch-item{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    z-index: 100;
}

.twitch{
    height: 64px;
    width: 64px;
    margin-right: 1em;
}

.tree{
    position: absolute;
    height: 15em;
    width: auto;
    z-index: 5;
}

#tree1{
    transform: rotate(45deg);
    left: -5em;
    bottom: -8em;
}

#tree2{
    transform: rotate(225deg);
    right: -5em;
    top: -8em;
}

.highlight {
    color: #EBE563;
}

.white {
    background-color: white;
}

.dark {
    background-color: #2E2D31;
}

.darker {
    background-color: #242328;
}

.font-large{
    font-size: 2.3em;
}

.font-medium {
    font-size: min(2em, 36pt);
}

.font-small{
    font-size: 1.5em;
}

.font-tiny{
    font-size: 1em;
}

@keyframes anim-scroll {
    0% { background-position: 0px 0px; }
    100% { background-position: -80vmin -80vmin; }
}